<div class="container">
  <div class="card" style="border: hidden; border-radius: 15px;">
    <div class="header d-flex justify-content-between align-items-center">
      <h3 class="text-left flex-grow-1">All Customers</h3>
      <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="onSearch()">
      </div>
      <div class="sort-dropdown" style="float: right;padding-right: 30px; padding-left: 15px;">
        Sort by: Newest
      </div>
    </div>

    <div *ngIf="customers.length > 0">
      <table class="table table-bordered table-borderless">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country of Origin</th>
            <th>Risk Score</th>
            <th>Politically Exposed Person</th>
            <th>Source of Income</th>
            <th>Identity Type</th>
            <th>Identity Number</th>
            <th>phoneNumber</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers let i = index" [ngStyle]="getRowClass(customer.riskScore)">
            <td>{{ customer.id }}</td>
            <td>{{ customer.customerName }}</td>
            <td>{{ customer.countryOfOrigin }}</td>
            <td>{{ customer.riskScore }}</td>
            <td>
              <i *ngIf="customer.politicallyExposedPerson" class="fas fa-flag" style="color: red;"></i>
              <i *ngIf="!customer.politicallyExposedPerson" class="fas fa-flag" style="color: grey;"></i>
            </td>
            <td>{{ customer.sourceOfIncome || 'N/A' }}</td>
            <td>{{ customer.identityType }}</td>
            <td>{{ customer.identityNumber }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <div ngbDropdown>
              <button class="btn btn-link p-0 arrow-none" ngbDropdownToggle>
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="openEditModal(editModal, customer.id, customer.customerName)">Edit</button>
                <button ngbDropdownItem (click)="deleteCustomer(customer.id)">Delete</button>
                <button ngbDropdownItem (click)="openBlockUnblockModal(blockUnblockModal, customer)">Block</button>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="customers.length === 0">
      <p>No customer found.</p>
    </div>
  </div>
</div>
<div class="pagination-container" style="float: inline-end">
  <button (click)="prevPage()" [disabled]="currentPage === 1">
    < </button>
      <button *ngFor="let page of totalPages" (click)="goToPage(page)"
        [ngClass]="{'active-page': page === currentPage}">
        {{ page }}
      </button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages.length"> > </button>

      <select class="bg-custom" style="margin-left: 10px; border-radius: 4px" [(ngModel)]="pageSize"
        (change)="loadCustomers()">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
      </select>
</div>

<!-- Modal Popup -->
<ng-template #content let-modal>
  <div class="modal-header bg-custom">
    <h4 class="modal-title" id="modal-basic-title">Customer Details</h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body bg-custom">
    <p><strong>Id:</strong> {{ selectedCustomer?.id }}</p>
    <p><strong>Name:</strong> {{ selectedCustomer?.customerName }}</p>
    <p><strong>Country of Origin:</strong> {{ selectedCustomer?.countryOfOrigin }}</p>
    <p><strong>Risk Score:</strong> {{ selectedCustomer?.riskScore }}</p>
    <p><strong>Politically Exposed Person:</strong> {{ selectedCustomer?.politicallyExposedPerson ? 'Yes' : 'No' }}</p>
    <p><strong>Identity Type:</strong> {{ selectedCustomer?.identityType }}</p>
    <p><strong>Identity Number:</strong> {{ selectedCustomer?.identityNumber }}</p>
    <p><strong>Phone Number:</strong> {{ selectedCustomer?.phoneNumber }}</p>
  </div>
  <div class="modal-footer bg-custom">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #editModal let-modal>
  <div class="modal-header bg-custom">
    <h4 class="modal-title">Edit Customer</h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body bg-custom">
    <form>
      <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input [(ngModel)]="selectedCustomer.id" name="id" id="id" class="form-control" readonly />
      </div>
      <div class="mb-3">
        <label for="customerName" class="form-label">Name</label>
        <input [(ngModel)]="selectedCustomer.customerName" name="customerName" id="customerName" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="countryOfOrigin" class="form-label">Country of Origin</label>
        <input [(ngModel)]="selectedCustomer.countryOfOrigin" name="countryOfOrigin" id="countryOfOrigin"
          class="form-control" />
      </div>
      <div class="mb-3">
        <label for="riskScore" class="form-label">Risk Score</label>
        <input [(ngModel)]="selectedCustomer.riskScore" name="riskScore" id="riskScore" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="sourceOfIncome" class="form-label">Source Of Income</label>
        <input [(ngModel)]="selectedCustomer.sourceOfIncome" name="sourceOfIncome" id="sourceOfIncome"
          class="form-control" />
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input [(ngModel)]="selectedCustomer.phoneNumber" name="phoneNumber" id="phoneNumber"
          class="form-control" />
      </div>
      <div>
        <p>
          OFAC Response
        </p>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">DATA</label>
        <input [(ngModel)]="selectedCustomer.message" name="message" id="message"
          class="form-control" />
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="politicallyExposedPerson" name="politicallyExposedPerson"
        [(ngModel)]="selectedCustomer.politicallyExposedPerson" >
        <label class="form-check-label" for="politicallyExposedPerson">
          Politically Exposed Person
        </label>
      </div>
      <div class="mb-3">
        <div>
          <label for="dropdown">Risk Status</label>
        </div>
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenu" ngbDropdownToggle>
            {{ selectedCustomer.riskStatus ? selectedCustomer.riskStatus : 'Choose an option' }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu">
            <button type="button" class="dropdown-item" *ngFor="let option of options" (click)="selectOption(option)">
              {{ option }}
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="mb-3">
        <label for="dropdown" class="form-label">Risk Status</label>
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenu" ngbDropdownToggle>
            {{ selectedCustomer.riskStatus ? selectedCustomer.riskStatus : 'Choose an option' }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu">
            <button type="button" class="dropdown-item" *ngFor="let option of options" (click)="selectOption(option)">
              {{ option }}
            </button>
          </div>
        </div>
      </div> -->
      <div class="mb-3">
        <label for="identityType" class="form-label">Identity Type</label>
        <input [(ngModel)]="selectedCustomer.identityType" name="identityType" id="identityType" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="identityNumber" class="form-label">Identity Number</label>
        <input [(ngModel)]="selectedCustomer.identityNumber" name="identityNumber" id="identityNumber"
          class="form-control" />
      </div>
    </form>
  </div>
  <div class="modal-footer bg-custom d-flex justify-content-center">
    <button type="button" class="btn btn-primary w-25 me-2" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary w-25" (click)="updateCustomer()">Update</button>
  </div>
</ng-template>

<ng-template #blockUnblockModal let-modal>
  <div class="modal-header bg-custom">
    <h4 class="modal-title">Block/Unblock Customer</h4>
  </div>
  <div class="modal-body bg-custom">
    <p>Are you sure you want to {{ selectedCustomer?.blocked ? 'unblock' : 'block' }} this customer?</p>
  </div>
  <div class="modal-footer bg-custom d-flex justify-content-center">
    <button type="button" class="btn btn-primary w-25 me-2" (click)="modal.dismiss('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary w-25" (click)="blockUnblockCustomer()">Confirm</button>
  </div>
</ng-template>