<div class="container">
  <div class="card" style="border: hidden; border-radius: 15px;">
  <div class="header d-flex justify-content-between align-items-center">
    <h2 class="flex-grow-1">Partners</h2>
    <div class="search-bar">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="onSearch()">
    </div>
    <div class="sort-dropdown" style="float: right; padding-right: 30px; padding-left: 15px;">
      Sort by: Newest
    </div>
    <button class="btn btn-primary" (click)="openCreateCustomerDialog()">Create Partner</button>
  </div>
  
  <div *ngIf="partners.length > 0">
    <table class="table table-bordered table-borderless" style="border-top: hidden;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Company Registration Name</th>
          <th>Trade Name</th>
          <th>Company Tax Number</th>
          <th>Registration Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partners let i = index" [ngClass]="getRowClass(partner.risk)">
          <td>{{ partner.id }}</td>
          <td>{{ partner.compRegName }}</td>
          <td>{{ partner.compTradeName }}</td>
          <td>{{ partner.compTaxNumber }}</td>
          <td>{{ partner.compRegCountry }}</td>
          <!-- <td>
            <button (click)="openViewPartner(partner.id)">
              <i class="fa fa-eye"></i>
            </button>
            <button (click)="openEditPartner(partner.id)">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="openBlockUnblockModal(blockUnblockModal, partner)" class="btn btn-sm">
              <i class="fas fa-ban"></i>
            </button>
          </td> -->
          <div ngbDropdown>
            <button class="btn btn-link p-0 arrow-none" ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="openViewPartner(partner.id)">View</button>
              <button ngbDropdownItem (click)="openEditPartner(partner.id)">Edit</button>
              <button ngbDropdownItem (click)="openBlockUnblockModal(blockUnblockModal, partner)">Block</button>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="partners.length === 0">
    <p>No partners found.</p>
  </div>
</div>

<div class="pagination-container" style="float: inline-end">
  <button (click)="prevPage()" [disabled]="currentPage === 1"> < </button>
  <button *ngFor="let page of totalPages"
           (click)="goToPage(page)" 
           [ngClass]="{'active-page': page === currentPage}">
    {{ page }}
  </button>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages.length"> > </button>
  <select class="bg-custom" style="margin-left: 10px; border-radius: 4px" [(ngModel)]="pageSize"
  (change)="loadPartners()">
  <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
</select>
</div>

<!-- Modal Popup -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Partner Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p><strong>ID:</strong> {{ selectedPartner?.id }}</p>
    <p><strong>Company Registration Name:</strong> {{ selectedPartner?.compRegName }}</p>
    <p><strong>Trade Name:</strong> {{ selectedPartner?.compTradeName }}</p>
    <p><strong>Company Tax Number:</strong> {{ selectedPartner?.compTaxNumber }}</p>
    <p><strong>Registration Country:</strong> {{ selectedPartner?.compRegCountry }}</p>
    <p><strong>Registration Date:</strong> {{ selectedPartner?.compRegDate }}</p>
    <p><strong>Registration Province:</strong> {{ selectedPartner?.compRegProvince }}</p>
    <p><strong>Main Phone Number:</strong> {{ selectedPartner?.mainPhoneNo }}</p>
    <p><strong>Secondary Phone Number:</strong> {{ selectedPartner?.secPhoneNumber }}</p>
    <p><strong>Website:</strong> {{ selectedPartner?.compWebsite }}</p>
    <p><strong>Exchange Listed:</strong> {{ selectedPartner?.isListedOnSE ? 'Yes' : 'No' }}</p>
    <p><strong>Exchange Name:</strong> {{ selectedPartner?.exchangeName }}</p>
    <p><strong>Symbol Listed:</strong> {{ selectedPartner?.symbolListed }}</p>
    <p><strong>Registered by Financial Entity:</strong> {{ selectedPartner?.isRegByFinEntity ? 'Yes' : 'No' }}</p>
    <p><strong>Registered by Financial Regulator:</strong> {{ selectedPartner?.isRegByFinSerRegulator ? 'Yes' : 'No' }}</p>
    <p><strong>Financial Entity:</strong> {{ selectedPartner?.finEntity }}</p>
    <p><strong>Financial Regulator Name:</strong> {{ selectedPartner?.finSerRegulatorName }}</p>
    <p><strong>Primary Contact Name:</strong> {{ selectedPartner?.primPerContactName }}</p>
    <p><strong>Primary Contact Email:</strong> {{ selectedPartner?.primPerEmail }}</p>
    <p><strong>Primary Contact Phone Number:</strong> {{ selectedPartner?.primPerPhoneNo }}</p>
    <p><strong>Primary Contact Position:</strong> {{ selectedPartner?.primPerPosition }}</p>
    <p><strong>Primary Contact Extension:</strong> {{ selectedPartner?.primPerExtension }}</p>
    <p><strong>Authorized Signatory Name:</strong> {{ selectedPartner?.authsignName }}</p>
    <p><strong>Authorized Signatory Position:</strong> {{ selectedPartner?.authsignPosition }}</p>
    <p><strong>Financing Bank Name:</strong> {{ selectedPartner?.financingBankName }}</p>
    <p><strong>Financing Bank Swift Code:</strong> {{ selectedPartner?.financingBankSwiftCode }}</p>
    <p><strong>Funding Account Name:</strong> {{ selectedPartner?.fundingAccountName }}</p>
    <p><strong>Funding Account Holder Relation:</strong> {{ selectedPartner?.fundingAccHolderRelation }}</p>
    <p><strong>Currencies:</strong> {{ selectedPartner?.currencies }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Partner</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input [(ngModel)]="selectedPartner.id" name="id" id="id" class="form-control" readonly />
      </div>
      <div class="mb-3">
        <label for="compRegName" class="form-label">Company Registration Name</label>
        <input [(ngModel)]="selectedPartner.compRegName" name="compRegName" id="compRegName" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="compTradeName" class="form-label">Trade Name</label>
        <input [(ngModel)]="selectedPartner.compTradeName" name="compTradeName" id="compTradeName" class="form-control" />
      </div>
      <div class="mb-3">
        <div>
          <label for="dropdown">Risk Rating</label>
        </div>
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenu" ngbDropdownToggle>
            {{ selectedPartner.riskRating || 'Choose an Option' }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu">
            <button type="button" class="dropdown-item" *ngFor="let option of options" (click)="selectOption(option)">
              {{ option }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <!-- <button type="button" class="btn btn-outline-secondary me-2" (click)="modal.close('Close click')">Cancel</button> -->
    <button type="button" class="btn btn-primary" (click)="updatePartner()">Update</button>
  </div>  
</ng-template>

<!-- Block/Unblock Modal -->
<ng-template #blockUnblockModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Block/Unblock Partner</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to {{ selectedPartner?.blocked ? 'unblock' : 'block' }} this partner?</p>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Close click')">Cancel</button> -->
    <button type="button" class="btn btn-primary" (click)="blockUnblockPartner()">Confirm</button>
  </div>
</ng-template>
