.fieldset {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
  }
  
  .fieldset label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .fieldset input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
  }

  .bg-custom {
    background-color: #DDEFFF;
  }