<div class="login-container">
  <div class="login-wrapper">
    <div class="row">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/appopay-logo.jpeg" alt="logo" class="logo" /></a>
      </div>
      <div class="col-md-4">
       
        <div class="login-form">
          <h3 class="mb-0"><b>Login</b></h3>
          <p>please login to continue to your account.</p>

          <div class="form-group mb-3">
            <label class="form-label" for="userName">Username</label>
            <input type="text" class="form-control" id="userName" placeholder="User Name" [(ngModel)]="userName" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
          </div>

          <div class="d-grid mt-4">
            <button (click)="onLogin()" type="button" class="btn btn-primary login-button">Login</button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <img src="assets/images/dashboard.png" alt="Image" class="login-image">
      </div>
    </div>
  </div>
</div>