@import '../../../../scss/settings/color-variables.scss';

.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #DDEFFF;
  margin: 5px;
}

.login-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: calc(100vh - 48px);
  width: calc(100vw - 48px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.auth-header {
  margin-bottom: 20px;
  width: 100%;
}

.login-form {
  flex-grow: 1; 
  text-align: left;
  padding-top: 50px;

  input {
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    width: 120%;
  }

  input::placeholder {
    color: #999;
  }
}

.logo {
  display: block;
  width: 250px; 
  height: auto;
  margin: 0 auto;
}

.login-button {
  width: 120%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  padding-left: 10%;
}