<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/appopay-logo.jpeg" alt="logo" class="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Sign up</b></h3>
            <a [routerLink]="['/login']" class="link-primary">Already have an account?</a>
          </div>
          <form (submit)="register({ userName: userName.value, password: password.value, designation: designation.value }); $event.preventDefault()">
            <div class="form-group mb-3">
              <label class="form-label" for="designation">Designation</label>
              <input #designation type="text" class="form-control" id="designation" placeholder="Company" />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="userName">User Name*</label>
              <input #userName type="text" class="form-control" id="userName" placeholder="User Name" />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="password">Password*</label>
              <input #password type="password" class="form-control" id="password" placeholder="Password" />
            </div>
            <p class="mt-4 text-sm text-muted">
              By Signing up, you agree to our
              <a href="javascript:" class="text-primary">Terms of Service</a>
              and
              <a href="javascript:" class="text-primary">Privacy Policy</a>
            </p>
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


